version: '3.8'
services:
    db:
        image: postgres:17
        restart: always    
        container_name: seminario_db
        environment:
            POSTGRES_USER: seminar_user
            POSTGRES_PASSWORD: Toro1234
            POSTGRES_DB: seminario_db
            POSTGRES_INITDB_LOCALE: ru_RU.UTF-8

        ports :
            - "5432:5432"
        volumes:
          - postgres_data:/var/lib/postgresql/data
          - ./init.sql:/docker-entrypoint-initdb.d/init.sql
        networks:
            - secure_network
    vault:
        image: hashicorp/vault:latest
        container_name: vault_server
        ports:
            - "8200:8200"
        environment:
            VAULT_DEV_ROOT_TOKEN_ID: "root"
            VAULT_ADDR: "http://vault_server:8200"
        cap_add:
        - IPC_LOCK
        networks:
          - secure_network

    pinger:
        build: . 
        container_name: postgres_pinger
        env_file:
            - .env
        depends_on:
            - db
            - vault
        networks:
            - secure_network
        command: python pinger.py
        
networks:
    secure_network:
        driver: bridge    
volumes:
    postgres_data:
    
        
        